<div class="row">
  <div class="col-md-8 offset-md-2"style="margin-top: 100px;">
    <div class="text-center">
      <h2 class=my-5><i class="fas fa-golf-ball"></i> Golfi</h2>
      
      <h6 class=my-5>
        このサイトは、ゴルフに纏わるコラムを共有したり、</br>
        ゴルフクラブセットを管理・閲覧したりして、</br>
        利用者同士で交流ができるSNSサイトです。</br>
        </br>
        会員でない方もコラム一覧の閲覧はできますが、</br>
        詳細を見るには<span style="text-decoration:underline;"><%= link_to "会員登録", "/users/sign_up" %></span>が必要になります。
      </h6>
    </div>      
  </div>
</div>