<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <% if user_signed_in? %>
          <tr>
            <td><%= link_to user.name, public_user_path(user.id) %></td>
          </tr>
        <% elsif admin_signed_in? %>
          <tr>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがColumnの時) -->
    <tbody>
      <% @columns.each do |column| %>
        <% if user_signed_in? %>
          <tr>
            <td><%= link_to column.title, public_column_path(column) %></td>
          </tr>
        <% elsif admin_signed_in? %>
          <tr>
            <td><%= link_to column.title, admin_column_path(column) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>