<footer>
  <nav class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center; line-height: 100px;">
        <p>CopyRight Golfi.inc</p>
      </div>
    </div>
  </div>
  </nav>
</footer>